<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MySql" defaultModelType="flat">

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

        <jdbcConnection
                driverClass="com.mysql.cj.jdbc.Driver"
                connectionURL="jdbc:mysql://192.168.1.117:3306/chilioil_db?useSSL=false"
                userId="root"
                password="123456" />

<!--        <javaModelGenerator targetPackage="cn.codesheep.springbt_mybatis_generator.entity" targetProject="src/main/java"></javaModelGenerator>-->
        <javaModelGenerator targetPackage="com.chilioil.autoimport.bean" targetProject="src/main/java"></javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper"  targetProject="src/main/resources"></sqlMapGenerator>

        <javaClientGenerator targetPackage="com.chilioil.autoimport.mapper" targetProject="src/main/java" type="XMLMAPPER"></javaClientGenerator>

        <table tableName="t_img_url">
            <columnOverride column="create_datetime" jdbcType="TIMESTAMP"/>
            <columnOverride column="lastupdate_datetime" jdbcType="TIMESTAMP"/>
            <!--            <property name="modelOnly" value="false"/>-->
        </table>

    </context>

</generatorConfiguration>